.container{
  display:grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  background-color: wheat;
  padding: 30px;
  gap:3px;
  }
  .grid-item1{
  text-align:left;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  font-size: 28px;
  background-color: rgb(102, 8, 8)
  }
  .grid-item2 {
  text-align:left;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  font-size: 28px;
  background-color: rgb(114, 19, 19);
  }
  .grid-item3 {
  text-align:left;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  font-size: 28px;
  background-color: rgb(114, 19, 19);
  } 
  .grid-item4 {
  text-align:left;
  grid-column-start:1 ;
  grid-column-end: 3;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  margin-right:80px;
  font-size: 28px;
  background-color: rgb(230, 34, 34);
  position: inherit ;
  }
  .grid-item5 {
  text-align:left;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  margin-left: 123px;
  margin-top: -203px;
  font-size: 28px;
  background-color: green;
  grid-column-start:4 ;
  grid-column-end: 2;
  position: inherit;
  }
  .grid-item6 {
  text-align:left;
  height: 100px;
  border: 1px solid rgba(17, 17, 17, 0.8);
  padding: 18px;
  font-size: 28px;
  grid-column-start:4 ;
  grid-column-end: 2;
  margin-top: -344px;
  margin-left: 123px;
  
  
  background-color: blue;
  }